@font-face {
	font-family: 'disco_divaregular';
	src: url('fonts/disco_diva-webfont.eot');
	src: url('fonts/disco_diva-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/disco_diva-webfont.woff2') format('woff2'),
	url('fonts/disco_diva-webfont.woff') format('woff'),
	url('fonts/disco_diva-webfont.ttf') format('truetype'),
	url('fonts/disco_diva-webfont.svg#disco_divaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agneyaregular';
	src: url('fonts/agneya_demo_version-webfont.eot');
	src: url('fonts/agneya_demo_version-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/agneya_demo_version-webfont.woff2') format('woff2'),
	url('fonts/agneya_demo_version-webfont.woff') format('woff'),
	url('fonts/agneya_demo_version-webfont.ttf') format('truetype'),
	url('fonts/agneya_demo_version-webfont.svg#agneyaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	background: url("../img/danceFloorBackground.jpg") center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 18px;
}

.titleContainer {
	text-align: center;
	padding-top: 20px;
}

.topLineContainer {
	display: inline-block;
	margin: 0 auto;
	padding-left: 90px;
}

.secondLine {
	margin-top: -35px;
}

h1 {
	font-family: disco_divaregular, sans-serif;
	font-size: 70px;
	color: white;
	font-weight: 100;
	/*margin: 30px 0 0 85px;*/
	display: inline-block;
	text-shadow: 0 3px 3px rgba(0,0,0,.4);
	float: left;
}

.discoBallContainer {
	display: inline-block;
}

#discoBall {
	margin: 20px 15px 0 15px;
	float: left;
}

h2	{
	font-family: agneyaregular, sans-serif;
	font-size: 80px;
	margin: -12px 0 0 0;
	background: -webkit-linear-gradient(left, #FD1D1D 48%, #5C5EE8 55%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dancerContainer {
	width: 900px;
	margin: -50px auto 0 auto;
	overflow: auto;
	padding: 0 115px 0 50px;
	box-sizing: border-box;
}

.dancerImage {
	width: 120%;
}

button {
	border-radius: 10px;
	border-style: none;
	color: #2a2a2a;
	text-align: center;
	width: 200px;
	height: 60px;
	padding: 17px 0;
	left: 50%;
	margin-left: -100px;
	position: fixed;
	bottom: 60px;
	box-sizing: border-box;
	box-shadow: 0 0 60px rgba(192, 192, 192, .4);
	font-family: agneyaregular;
	font-size: 35px;
	background: -webkit-radial-gradient(#fdf8a1, #e7e83f);
}

button:focus {
	outline: 0;
}

button:active {
	background: -webkit-radial-gradient(#fd303f, #8d080d);
}

@-webkit-keyframes hvr-pulse-grow {
	to {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@keyframes hvr-pulse-grow {
	to {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

.hvr-pulse-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
	-webkit-animation-name: hvr-pulse-grow;
	animation-name: hvr-pulse-grow;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}



/*.title, .addDancerButton {*/
	/*padding: 5px 12px;*/
	/*float: right;*/
/*}*/

/*.topbar {*/
	/*height: 32px;*/
	/*background-color: #555;*/
/*}*/

/*.title {*/
	/*background-color: #777;*/
/*}*/

/*.dancer {*/
	/*border: 10px solid red;*/
	/*border-radius: 10px;*/
	/*position: absolute;*/
/*}*/